# ==== GUI (Qt / PySide6) ====
PySide6==6.10.1
PySide6-Addons==6.10.1
PySide6-Essentials==6.10.1
shiboken6==6.10.1

# ==== 파일 시스템 모니터링 ====
watchdog==6.0.0

# ==== 경로/설정 관리 ====
appdirs==1.4.4

# ==== 설정 파일 ====
PyYAML==6.0.3

# ==== 이미지 / 비디오 처리 ====
Pillow==12.0.0
opencv-python==4.12.0.88

# ==== 데이터 처리 ====
pandas==2.3.3
numpy==2.2.6
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2

# ==== 자동화(마우스/스크린 캡처) ====
pyautogui==0.9.54
mouseinfo==0.1.3
pygetwindow==0.0.9
pyscreeze==1.0.1
pytweening==1.2.0
pymsgbox==2.0.1
pyperclip==1.11.0
pyrect==0.2.0

# ==== 기타 유틸 ====
six==1.17.0
sortedcontainers==2.4.0

# Pro
# perty-based testing
hypothesis>=6.0.0

psutil==7.1.3